<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-google-calendar-2.0.0-SNAPSHOT.jar" contributionJavaDocs="mule-module-google-calendar-2.0.0-SNAPSHOT-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-google-calendar-2.0.0-SNAPSHOT.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/google-calendars" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/google-calendars/current/mule-google-calendars.xsd" contributionNamespacePrefix="google-calendars" contributionSources="mule-module-google-calendar-2.0.0-SNAPSHOT-src.jar" contributionType="cloud-connector" contributionVersion="2.0.0-SNAPSHOT" minimumVersion="3.5" name="Google Calendars" path="editors.xml" version="2.0.0-SNAPSHOT"/></extension></plugin>